body{
    font-family: 'Roboto', sans-serif!important;
}

.navbar {
    background: none;
 }
  .color-hr{
    background-color: #00a1ad;
}

body{
    background-color: black !important; 
}

footer i{
display: inline-block;

}
.iconos{
    padding: 8.12rem;
}
.padding-container{
    padding:12rem;
}

/* responsive xs */
@media screen and (min-width: 1px) and (max-width: 767px) {
  .margen{
      margin-top: 24px;
  }
  .texto{
      text-align: center;
  }
}

.size-image{
    width: 1.5rem;
}
.color-texto{
color: #cbd3da!important;
}

a.nav-item.nav-link.text-light.color-texto {
    color: #cbd3da!important
}

.navbar-toggler {
    background-color: #00a1ad!important;
  border-color: #00a1ad!important;
}